<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Portal{% endblock %}</title>
    <link rel="icon" href="{{ asset('/admin/portal.png') }}">
    <link rel="stylesheet" crossorigin href="{{ asset('/admin/main.css') }}">
    <script type="module" crossorigin src="{{ asset('/admin/main.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
